{% extends 'KuakaoAdminBundle::layout.html.twig' %}
{% block body %}
    {% autoescape %}
        <div class="wrapper wrapper-content">
            <div class="page-header clearfix">
                <h1 class="col-sm-8">搜索</h1>
                <div class="col-sm-4 search_box">
                    <form name="form_search" id="form_search" method="get" class="pull-right">
                        <input type="hidden" name="page" value="{{ page }}" />
                        <div class="input-group col-20">
                            <input  class="form-control" type="text" name="title" id="username"  value="{{ title }}" />
                            <div class="input-group-btn">
                                <a class="btn btn-sm btn-info" onclick="submit_search();"><i class="fa fa-search" ></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="operate panel panel-default">
                <div class="panel-body">
                    <div class="pull-right">
                        <a class="btn btn-sm btn-primary" href="{{ path('kuakao_admin_quiz_new') }}">添加</a>
                    </div>
                </div>
            </div>
            <div class="ul_table message-container ul_table_responsive">
                <ul>
                    <li class="thead">
                        <div class="pull-left">
                            <span class="col-10">ID</span>
                            <span class="col-40 ">标题</span>
                            <span class="col-10 ">题目数量</span>
                            <span class="col-20 ">更新时间</span>
                            <span class="col-10 ">操作人</span>
                        </div>
                        <div class="pull-right">
                            <span class="col-12 ">管理</span>
                        </div>
                    </li>
                    <form method="post" action="" name="form_data" id="form_data">
                        {% for val in tQuiz %}
                        <li class="tbody">
                            <div class="pull-left">
                                <span class="col-10">{{ val.quizid }}</span>
                                <span class="col-40">{{ val.title }}&nbsp;</span>
                                <span class="col-10">{{ val.topicNum }}</span>
                                <span class="col-20">{{ val.time|date('Y-m-d H:i:s') }}</span>
                                <span class="col-10">{{ val.username }}</span>
                            </div>
                            <div class="pull-right">
                                <span class="col-20"><a href="{{ path('kuakao_admin_quiztopic_new', {'quizid':val.quizid}) }}">编辑小题</a> | <a href="{{ path('kuakao_admin_quiz_edit', {'quizid':val.quizid}) }}">编辑</a> | <a onclick="del({{ val.quizid }});">删除</a></span>
                            </div>
                        </li>
                        {% endfor %}
                    </form>
                    {{ knp_pagination_render(tQuiz) }}
                </ul>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}
{% block jsCode %}
<script>
    function del(quizid) {
        var vars = 'quizid='+quizid;
        ui_confirm('确定要删除吗?', function() {
            sendAjax("{{ path('kuakao_admin_quiz_delete') }}", vars, function(data) {
                if (data.status) {
                    ui_alert(data.info, function() {
                        window.location.href="{{ path('kuakao_admin_quiz_index') }}";
                    });
                } else {
                    ui_alert(data.info, function() {});
                }
            });
        });
    }
</script>
{% endblock %}