{% extends 'KuakaoAdminBundle::layout.html.twig' %}
{% block body %}
    {% autoescape %}
        <div class="wrapper wrapper-content">
            <div class="page-header clearfix">
                <h1 class="col-sm-8">搜索</h1>
                <div class="col-sm-4 search_box">
                    <form name="form_search" id="form_search" method="get" class="pull-right">
                        <input type="hidden" name="page" value="{{ page }}" />
                        <div class="input-group col-20">
                            <input  class="form-control" type="text" name="username" id="username"  value="{{ username }}" />
                            <div class="input-group-btn">
                                <a class="btn btn-sm btn-info" onclick="submit_search();"><i class="fa fa-search" ></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="operate panel panel-default">
                <div class="panel-body">
                    <div class="pull-right">
                        <a class="btn btn-sm btn-primary" href="{{ path('kuakao_admin_majorschool_xiufu') }}">修复数据</a>
                    </div>
                </div>
            </div>
            <div class="ul_table message-container ul_table_responsive">
                <ul>
                    <li class="thead">
                        <div class="pull-left">
                            <span class="col-5">ID</span>
                            {#<span class="col-10 ">学校ID</span>#}
                            <span class="col-15 ">学校名称</span>
                            {#<span class="col-10 ">专业ID</span>#}
                            <span class="col-15 ">专业名称</span>
                            <span class="col-15 ">政治</span>
                            <span class="col-15 ">外语</span>
                            <span class="col-15 ">业务课1</span>
                            <span class="col-15 ">业务课2</span>
                        </div>
                        <div class="pull-right">
                            <span class="col-10 ">管理</span>
                        </div>
                    </li>
                    <form method="post" action="" name="form_data" id="form_data">
                        {% for val in data %}
                        <li class="tbody">
                            <div class="pull-left">
                                <span class="col-5">{{ val.id }}</span>
                                {#<span class="col-10">{{ val.schoolid }}&nbsp;</span>#}
                                <span class="col-15">{{ val.schoolname }}</span>
                                {#<span class="col-10">{{ val.majorid }}&nbsp;</span>#}
                                <span class="col-15">{{ val.majorname }}</span>
                                <span class="col-15">{{ val.zhengzhi }}</span>
                                <span class="col-15">{{ val.waiyu }}</span>
                                <span class="col-15">{{ val.ywk1 }}</span>
                                <span class="col-15">{{ val.ywk2 }}</span>
                            </div>
                            <div class="pull-right">
                                <span class="col-10"><a href="{{ path('kuakao_admin_majorschool_edit', {'id':val.id}) }}">编辑</a> | <a onclick="del({{ val.id }});">删除</a></span>
                            </div>
                        </li>
                        {% endfor %}
                    </form>
                    {{ knp_pagination_render(data) }}
                </ul>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}
{% block jsCode %}
<script>
    function del(id) {
        var vars = 'id='+id;
        ui_confirm('确定要删除吗?', function() {
            sendAjax("{{ path('kuakao_admin_majorschool_delete') }}", vars, function(data) {
                if (data.status) {
                    ui_alert(data.info, function() {
                        window.location.href="{{ path('kuakao_admin_majorschool_index') }}";
                    });
                } else {
                    ui_alert(data.info, function() {});
                }
            });
        });
    }
</script>
{% endblock %}