{% extends 'KuakaoAdminBundle::layout.html.twig' %}
{% block body %}
    {% autoescape %}
        <div class="wrapper wrapper-content">
            <div class="page-header">
                <h1>编辑反馈</h1>
            </div>
            {{ form_start(form, {'attr':{'id':'form_data','class':'form-horizontal well'},'name':'form_data'} ) }}
            <input type="hidden" name="ajax" id="ajax" value="1">
            <div class="form-group">
                <label class="col-sm-2 control-label">反馈人：</label>
                <div class="col-sm-10">
                    {{ form_widget( form.username, {'attr': {'class':'form-control col-30', 'check':'require', 'msg':'请输入缩略图地址'},'id':'username' })  }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="list_rows">状态：</label>
                <div class="col-sm-10">
                    {{ form_widget( form.status, {'attr': {'class':'form-control col-30'},'id':'status' })  }}
                </div>
            </div>
            {#<script src="{{ asset('bundles/admin/ueditor/ueditor.config.js') }}"></script>
            <script src="{{ asset('bundles/admin/ueditor/ueditor.all.min.js') }}"></script>
            <script src="{{ asset('bundles/admin/ueditor/lang/zh-cn/zh-cn.js') }}"></script>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="list_rows">反馈内容：</label>
                <div class="col-sm-8">
                    {{ form_widget( form.content, {'attr': { 'check':'require', 'msg':'请输入课程介绍'},'id':'content' })  }}
                </div>
            </div>
            <script type="text/javascript">
                var editor = new UE.ui.Editor({initialFrameHeight:300});
                editor.render("content");
            </script>#}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="list_rows">反馈内容：</label>
                <div class="col-sm-10">
                    {{ form_widget( form.content, {'attr': {'class':'form-control col-xs-12', 'rows':'15'},'id':'content' })  }}
                </div>
            </div>

            {#<div class="form-group">
                <label class="col-sm-2 control-label" for="list_rows">回复内容：</label>
                <div class="col-sm-8">
                    {{ form_widget( form.replyContent, {'id':'replyContent' })  }}
                </div>
            </div>
            <script type="text/javascript">
                var editor = new UE.ui.Editor({initialFrameHeight:300});
                editor.render("replyContent");
            </script>#}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="list_rows">回复内容：</label>
                <div class="col-sm-10">
                    {{ form_widget( form.replyContent, {'attr': {'class':'form-control col-xs-12', 'rows':'15'},'id':'replyContent' })  }}
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <a onclick="save()"  class="btn btn-sm btn-primary">修改</a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    {% endautoescape %}
{% endblock %}
{% block jsCode %}
    <script>
        function save() {
            if (check_form("form_data")) {
                var vars = $("#form_data").serialize();
                sendAjax("{{ path('kuakao_admin_feedback_edit', {'id':id}) }}", vars, function(data) {
                    if (data.status) {
                        ui_alert(data.info, function() {
                            window.location.href='{{ path('kuakao_admin_feedback_index')}}';
                            myclose();
                        });
                    } else {
                        ui_error(data.info);
                    }
                });
            }
        }
    </script>
{% endblock %}