{% extends 'KuakaoAdminBundle::layout.html.twig' %}
{% block body %}
    {% autoescape %}
        <div class="wrapper wrapper-content">
            <div class="page-header clearfix">
                <h1 class="col-sm-8">搜索</h1>
                <div class="col-sm-4 search_box">
                    <form name="form_search" id="form_search" method="get" class="pull-right">
                        <input type="hidden" name="page" value="{{ page }}" />
                        <div class="input-group col-20">
                            <input  class="form-control" type="text" name="name" id="name"  value="{{ name }}" />
                            <div class="input-group-btn">
                                <a class="btn btn-sm btn-info" onclick="submit_search();"><i class="fa fa-search" ></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="operate panel panel-default">
                <div class="panel-body">
                    <div class="pull-right">
                        <a class="btn btn-sm btn-primary" href="{{ path('kuakao_admin_tmajor_new') }}">添加</a>
                    </div>
                </div>
            </div>
            <div class="ul_table message-container ul_table_responsive">
                <ul>
                    <li class="thead">
                        <div class="pull-left">
                            <span class="col-5">ID</span>
                            <span class="col-20 ">专业名称</span>
                            <span class="col-10 ">专业代码</span>
                            <span class="col-10 ">学科门类</span>
                            <span class="col-15 ">一级学科</span>
                           {# <span class="col-10 ">数学类型</span>
                            <span class="col-10 ">英语类型</span>#}
                            <span class="col-10 ">关注人数</span>
                            <span class="col-10 ">专业类型</span>
                        </div>
                        <div class="pull-right">
                            <span class="col-10 ">管理</span>
                        </div>
                    </li>
                    <form method="post" action="" name="form_data" id="form_data">
                        {% for val in majorData %}
                        <li class="tbody">
                            <div class="pull-left">
                                <span class="col-5">{{ val.id }}</span>
                                <span class="col-20">{{ val.name }}</span>
                                <span class="col-10">{{ val.pronum }}&nbsp;</span>
                                <span class="col-10">{{ val.xkml }}&nbsp;</span>
                                <span class="col-15">{{ val.yjxk }}&nbsp;</span>
                                {#<span class="col-10">{{ val.mathlx }}</span>
                                <span class="col-10">{{ val.englishlx }}</span>#}
                                <span class="col-10">{{ val.gzrs }}</span>
                                <span class="col-10">{{ val.zylx }}</span>
                            </div>
                            <div class="pull-right">
                                <span class="col-10"><a href="{{ path('kuakao_admin_tmajor_edit', {'id':val.id}) }}">编辑</a> | <a onclick="del({{ val.id }});">删除</a></span>
                            </div>
                        </li>
                        {% endfor %}
                    </form>
                    {{ knp_pagination_render(majorData) }}
                </ul>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}
{% block jsCode %}
<script>
    function del(id) {
        var vars = 'id='+id;
        ui_confirm('确定要删除吗?', function() {
            sendAjax("{{ path('kuakao_admin_tmajor_delete') }}", vars, function(data) {
                if (data.status) {
                    ui_alert(data.info, function() {
                        window.location.href="{{ path('kuakao_admin_tmajor_index') }}";
                    });
                } else {
                    ui_alert(data.info, function() {});
                }
            });
        });
    }
</script>
{% endblock %}